body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya SC', serif;
}

/*STYLING ABOUT PAGE*/
.container-content {
  margin-top: 80px;
  width: 100%;
  padding-bottom: 60px;
}

.my-pict {
  width: 100%;
  height: 400px;
  background-position: center center;
  background-image: url('http://res.cloudinary.com/dmtewfk2q/image/upload/v1510084605/DSC01351_2_qa5c0n.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-pict {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 5px;
}

.presentation {
  padding: 80px;
}
.presentation h2 {
  font-size: 30px;
}

.presentation-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.presentation-text h2 {
  color: teal;
  text-align: left;
  font-size: 30px;
}

.my-text {
  text-align: justify;
  font-size: 20px;
}

/*STYLING NAVIGATION*/
.navigation-item {
  margin: 20px;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  display: flex;
  padding: 20px;
  font-size: 25px;
}

.navigation li {
  display: block;
}

.navigation a:hover {
  border-bottom: 3px solid teal;
  padding-bottom: 5px;
}

.header-nav {
  width: 100%;
}

.home-icon {
  position: absolute;
  top: 0;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 25px;
  left: 20px;
  font-family: 'Nothing You Could Do', cursive;
  padding: 13px;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  transition: 300ms linear all;
}
.home-icon:hover{
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
  transform: rotate(-15deg);
  transition: 300ms linear all;
}

/*STYLING PORTFOLIO & CONTACT PAGE*/
.container-content-projects h2, .container-content-contact h2 {
  color: teal;
  padding-bottom: 50px;
  text-align: left;
  font-size: 30px;
  border-bottom: 1px solid #CACACA;
}

.container-content-projects h3 {
  font-size: 20px;
  text-align: left;
}

.project {
  padding-bottom: 30px;
  border-bottom: 1px solid #CACACA;
}

.container-content-projects, .container-content-contact {
  width: 80%;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 200px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.project-description, .contact {
  display: flex;
  width: 100%;
}

.project-description-text {
  font-size: 15px;
  max-width: 40%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.project-url {
  margin-top: 20px;
}
.project-url a:hover {
  color:teal;
}
.project-skills {
  margin-bottom: 20px;
}
.skills {
  color: teal;
  display: flex;
  max-width: 100%;
}

.icon-project {
  width: 450px;
  height: 280px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:visited {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

/*STYLING CONTACT PAGE*/
.contact-form {
  display: grid;
  width: 60%;
}

.contact-form label {
  text-align: left;
  font-size: 20px;
}

.contact-text {
  text-align: justify;
  padding: 5%;
  font-size: 15px;
}

.contact-input {
  border: 1px solid;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-textarea {
  font-size: 20px !important;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-contact {
  text-align: right;
  margin-top: 10px;
}

.btn {
  font-family: 'Alegreya SC', serif;
  width: 80px;
  border-radius: 5px;
  font-size: 20px;
  background-color: teal;
  color: white;
  border: 1px solid teal;
}
/*STYLING FOOTER */
.social-icon {
  color: teal;
  padding: 10px;
}
.fa-2x {
    font-size: 25px;
}
.footer {
  border-top: 1px solid #CACACA;
  padding-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #CACACA;
  width: 100%;
  height: 80px;
  color: black;
  -webkit-transition: 2s;
  transition: 2s;
}
/*RESPONSIVE STYLING*/
@media screen and (max-width: 910px) {
  .project-description {
    display: block;
  }
  .icon-project {
    margin-right: auto;
    margin-left: auto;
  }
  .project-description-text {
    max-width: 100%;
    margin-top: 30px;
  }

}

@media screen and (max-width: 700px) {
  .icon-project {
    width:400px;
  }
  .project-description-text {
    font-size:15px;
  }
  .home-icon, .navigation {
    font-size: 20px;
  }
  .navigation {
    margin-top: 70px;
    padding: 0;
  }
  .home-icon {
    left:2px;
  }
  .presentation-text {
    font-size: 20px;
  }
  .my-text{
    font-size: 20px;
  }
  .container-content-projects h2, .container-content-contact h2 {
    font-size: 25px;
  }

  .container-content-projects, .container-content-contact {
    margin-top: 150px;
  }
}


@media screen and (max-width: 500px) {
  .navigation {
    right: auto;
  }
  .presentation h2, .presentation-text h2 {
    font-size: 20px;
  }

  .my-text {
    font-size: 15px;
    margin:30px;
  }
  .home-icon, .navigation {
    font-size: 20px;
  }
  .navigation {
    margin-top: 70px;
    padding: 0;
  }
  .navigation-item {
    margin: 15px;
  }
  .home-icon {
    left:2px;
  }
  .icon-project {
    margin-left: 0;
  }
  .project-description-text {
    padding: 20px;
  }
  .contact {
    display: block;
  }
  .contact-form {
    width: 100%;
  }

  .project-skills {
    padding: 10px;
  }
  .icon-project {
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width: 350px) {
.icon-project {
    width: 270px;
    height: 180px;
  }
}
